@font-face {
    font-family: 'Gotham';
    src: url(gothammedium.ttf);
}

@font-face {
    font-family: 'Gotham-light';
    src: url(Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-bold';
    src: url(Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-black';
    src: url(Gotham-Black.otf);
}

@keyframes goRight {
    0% {
        width: 100%;
    }
    50% {
        width: 0%;
        opacity: 1;
    }
    60% {
        width: 0%;
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes goUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        transform: translateY(-55%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

/* GENERAL */

/* color corporativo #e0013f */

::selection {
    background: #e0013f;
    color: white;
}

:focus {
    outline: none;
}

html {
    min-height: 100vh;
}

body {
    width: 100%;
    height: auto;
    background: black;
    font-family: "Gotham";
}

section {
    padding: 70px 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham';
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}

p {
    font-size: 1.1em;
    font-family: "Gotham-light";
    margin: 0 0 30px;
    color: white;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin: auto 20px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.no-pad {
    padding: 0;
}

.no-pad-btm {
    padding-bottom: 0 !important;
}

.ignore-mrg {
    margin-right: -25px;
    margin-left: -25px;
}

.mrg-bottom {
    margin-bottom: 30px;
}

.nomrg-btm {
    margin-bottom: 0;
}

.fade-out {
    opacity: 0;
    transform: translateX(200%);
    transition: all .4s ease;
}

.fade-in {
    opacity: 1 !important;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bdr-title {
    border-bottom: 10px solid #e0013f;
    width: fit-content;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.bdr-thin {
    border: 1px solid #e0013f;
    width: fit-content;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    margin: 0;
}

.container {
    margin: 0 25px 0;
}

/* LOADING */

.loading {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    animation: fadeOut .7s 3s forwards cubic-bezier(.64, .01, .62, 1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    display: none;
}

.load-vector {
    position: absolute;
    width: 100px;
    opacity: 0;
}

.load-vector.first-wave {
    opacity: 1;
    z-index: 99;
}

.load-vector.second-wave {
    animation: fadeIn 1s 1s forwards cubic-bezier(.65, 0, .27, 1);
    z-index: 99;
}

.load-vector.third-wave {
    animation: fadeIn 1s 1.15s forwards cubic-bezier(.65, 0, .27, 1);
    z-index: 99;
}

.load-vector.fourth-wave {
    animation: goUp 1s 1.2s forwards cubic-bezier(.65, 0, .27, 1);
}

.wave-cover {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: black;
    animation: goRight 2.5s forwards ease;
}

.scale-cont {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: scaleUp 1s 1.3s forwards ease;
}

/* HEADER */

header {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: relative;
    background: rgba(89, 0, 25, 1);
    background: -moz-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(89, 0, 25, 1)), color-stop(15%, rgba(89, 0, 25, 1)), color-stop(48%, rgba(141, 0, 40, 1)), color-stop(100%, rgba(224, 1, 64, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: linear-gradient(135deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
    font-family: 'Gotham-light';
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .4s ease;
    transform: translateX(100%);
    z-index: 2000;
}

header ul {
    padding: 0 30px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    height: fit-content;
    transition: all .4s ease;
}

header ul li {
    list-style-type: none;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    transition: all .5s ease;
}

header ul li .sub-sect {
    padding: 0;
    transition: all .3s ease;
    opacity: 0;
    height: 0;
    margin: 0;
    z-index: -100;
    pointer-events: none;
}

header ul li .sub-sect.show-menu {
    transition: all .3s ease;
    padding: 0;
    opacity: 1;
    height: 200px;
    pointer-events: inherit;
}

header ul li .sub-sect li {
    border-bottom: 0;
    margin: 3px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

header a {
    color: white;
    width: 100%;
    display: inline-block;
    font-size: 1em;
}

.serv-sect {
    font-size: 1em;
    color: white;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
}

.down-arrow {
    color: white;
    margin-bottom: 10px;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.down-arrow.show-menu {
    transform: rotate(180deg);
    margin: 10px 0 0;
}

.menu-cont {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .3);
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 4000;
    transition: all .3s ease;
}

.menu-cont .menu-icon {
    height: fit-content;
    width: 30px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .5);
    margin: 5px auto;
    transition: all .3s ease;
}

.bar2 {
    width: 25px;
}

.change .bar1 {
    transform: translateY(7px) rotate(-45deg);
    width: 25px;
}

.change .bar2 {
    transform: rotate(45deg);
}

.change .bar3 {
    opacity: 0;
}

header.show-menu {
    opacity: 1;
    transform: translateX(0);
}

.social {
    width: 100%;
    height: fit-content;
    align-self: flex-end;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    transition: all .6s ease;
}

.social a {
    width: fit-content;
    margin: 10px;
}

/* HOME */

.show-home {
    width: 100%;
    height: auto;
    margin: 110px 0 50px;
}

/* slider */

.tns-outer {
    margin: 0 -25px;
}

.first-slider {
    width: 100%;
    height: fit-content;
    position: relative;
}

.dark-borders::before {
    width: 100%;
    height: auto;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    background: rgba(0, 0, 0, 0.44);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.44) 0%, rgba(243, 243, 243, 0) 21%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 74%, rgba(186, 186, 186, 0) 81%, rgba(0, 0, 0, 0.44) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.44)), color-stop(21%, rgba(243, 243, 243, 0)), color-stop(22%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(81%, rgba(186, 186, 186, 0)), color-stop(100%, rgba(0, 0, 0, 0.44)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.44) 0%, rgba(243, 243, 243, 0) 21%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 74%, rgba(186, 186, 186, 0) 81%, rgba(0, 0, 0, 0.44) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.44) 0%, rgba(243, 243, 243, 0) 21%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 74%, rgba(186, 186, 186, 0) 81%, rgba(0, 0, 0, 0.44) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.44) 0%, rgba(243, 243, 243, 0) 21%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 74%, rgba(186, 186, 186, 0) 81%, rgba(0, 0, 0, 0.44) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44) 0%, rgba(243, 243, 243, 0) 21%, rgba(255, 255, 255, 0) 22%, rgba(255, 255, 255, 0) 74%, rgba(186, 186, 186, 0) 81%, rgba(0, 0, 0, 0.44) 100%);
}

.darklay::before {
    width: 100%;
    height: auto;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    background: rgba(89, 89, 89, 0.25);
    background: -moz-radial-gradient(center, ellipse cover, rgba(89, 89, 89, 0.25) 0%, rgba(19, 19, 19, 0.67) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(89, 89, 89, 0.25)), color-stop(100%, rgba(19, 19, 19, 0.67)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(89, 89, 89, 0.25) 0%, rgba(19, 19, 19, 0.67) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(89, 89, 89, 0.25) 0%, rgba(19, 19, 19, 0.67) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(89, 89, 89, 0.25) 0%, rgba(19, 19, 19, 0.67) 100%);
    background: radial-gradient(ellipse at center, rgba(89, 89, 89, 0.25) 0%, rgba(19, 19, 19, 0.67) 100%);
}

.first-slider div {
    min-height: 100px;
}

/* ------- */

/* secciones home */

/* section#presentación {
    
} */

section#servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto -25px;
}

.sect-tle-out {
    display: flex;
    justify-content: center;
    width: 100%;
    object-position: center;
    margin-bottom: 50px;
}

.serv-cont {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}

.serv-img {
    width: 120px;
    height: 120px;
    margin: auto;
}

.serv-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    z-index: 300;
    text-align: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .9));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .9));
    -ms-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .9));
}

.serv-cap {
    margin: 10px auto 0;
    font-family: "Gotham-bold";
}

.fake-play {
    font-size: 80px;
    color: white;
}

/* CONTACTO */

#contacto {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
    font-family: 'Gotham-light';
    overflow-y: scroll;
    transition: all .4s ease;
    transform: translateX(-100%);
    z-index: 3000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section#contacto.show-contacto {
    transform: translateX(0);
    opacity: 1;
}

.contact-form {
    width: 100%;
    padding: 20px;
}

.contact-form input {
    width: 100%;
    height: 35px;
    margin: 5px auto 20px;
}

.contact-form textarea {
    width: 100%;
    margin: 5px auto 10px;
}

.submit-btn {
    width: 100%;
    height: 35px;
    margin: 5px auto 10px;
    background: rgba(0, 0, 0, 1);
    color: white;
    border: 0;
    font-family: "Gotham-bold";
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 3px;
}

.form-text {
    margin: 0;
    width: 100%;
    text-align: left;
    font-family: "Gotham-bold";
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 3px;
}

.contact-info {
    font-size: .8em;
    width: 100%;
    height: fit-content;
    text-align: left;
    transition: all .6s ease;
    padding-left: 10px;
}

.contact-info p {
    width: 100%;
    margin: 3px auto;
}

.contact-info p i {
    color: black;
}

input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.back-arrow {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .3);
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 3500;
    transition: all .8s ease;
}

/* contactHome */

.cont-home {
    width: 100%;
    min-height: 100vh;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Gotham-light';
    transition: all .4s ease;
    overflow: hidden;
}

#contactoHome .sect-tle-out {
    margin-bottom: -1px;
}

.cont-home .contact-form {
    padding: 50px 20px 90px;
    border-top: 1px solid #e0013f;
}

.cont-home::before {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    margin: -50px 0;
    background: rgba(89, 0, 25, 1);
    background: -moz-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(89, 0, 25, 1)), color-stop(15%, rgba(89, 0, 25, 1)), color-stop(48%, rgba(141, 0, 40, 1)), color-stop(100%, rgba(224, 1, 64, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    background: linear-gradient(135deg, rgba(89, 0, 25, 1) 0%, rgba(89, 0, 25, 1) 15%, rgba(141, 0, 40, 1) 48%, rgba(224, 1, 64, 1) 100%);
    transform: skewY(-10deg)
}

.cont-home input {
    margin: 5px 0 40px;
}

.cont-home .contact-info {
    margin-top: 20px;
}

/* LOCATION */

.loc-cont {
    width: 100%;
    text-align: center;
}

.loc-vector {
    max-width: 200px;
    margin: auto;
}

.social-location {
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.social-location a {
    width: fit-content;
    margin: 10px;
    color: white;
}

.location-mark {
    font-size: 1.6em;
    color: cyan;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.footer-cont {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 70px;
}

.footer-cont::before {
    content: "";
    background: #333;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -50px;
    z-index: -1;
    transform: skewY(-10deg)
}

.foot-svg {
    max-height: 150px;
    flex-grow: 1;
    flex-basis: 50%;
}

/* MEDIA-QUERY  */

@media only screen and (min-width: 500px) {
    .container {
        margin: 0 40px 0;
    }
}

@media only screen and (min-width: 700px) {
    .container {
        margin: 0 60px 0;
    }
    .load-vector {
        position: absolute;
        width: 200px;
        opacity: 0;
    }
    .wave-cover {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background: black;
        animation: goRight 2.5s forwards ease;
    }
    .scale-cont {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        animation: scaleUp .3s 1.8s forwards ease;
    }
    _::-webkit-full-page-media,
    _:future,
    :root .pad-top-safari {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        margin: 0 80px 0;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        margin: 0 120px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin: 0 200px 0;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        margin: 0 300px 0;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        margin: 0 500px 0;
    }
}