
@font-face {
    font-family: 'Gotham';
    src: url(gothammedium.ttf);
}

@font-face {
    font-family: 'Gotham-light';
    src: url(Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-bold';
    src: url(Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-black';
    src: url(Gotham-Black.otf);
}

@keyframes goRight {
    0% {width: 100%;}
    50% {width: 0%; opacity: 1;}
    60% {width: 0%; opacity: .8;}
    100% {width: 100%; opacity: 0;}
}

@keyframes goUp {
    0% {transform: translateY(0); opacity: 0;}
    100% {transform: translateY(-55%); opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-20%)}
    100% {opacity: 1; transform: translateY(0%)}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes scaleUp {
    0% {transform: scale(1)}
    100% {transform: scale(1.1)}
}

/* GENERAL */
::selection {
    background: #b71350;
    color: white;
}

:focus {
    outline: none;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 2000px;
    background: black;
    font-family: "Gotham";
}

/* h1, h2, h3, h4, h5, h6 {
        font-family: 'Josefin Sans', sans-serif;
} */

p {
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 50px 0;
}

/* LOADING */
.loading {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    /* animation: fadeOut .5s 3s forwards cubic-bezier(.64, .01, .62, 1); */
    transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
    /* display: none; */
}

.load-vector {
    position: absolute;
    width: 100px;
    opacity: 0;
}

.load-vector.first-wave {
    opacity: 1;
    z-index: 99;
}

.load-vector.second-wave {
    animation: fadeIn 1s 1s forwards cubic-bezier(.65,0,.27,1);
    z-index: 99;
}

.load-vector.third-wave {
    animation: fadeIn 1s 1.15s forwards cubic-bezier(.65,0,.27,1);
    z-index: 99;
}

.load-vector.fourth-wave {
    animation: goUp 1s 1.5s forwards cubic-bezier(.65,0,.27,1);
}

.wave-cover{
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: black;
    animation: goRight 2.5s forwards ease;
}

.scale-cont {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: scaleUp 1s 1.3s forwards ease;
}

/* HEADER */
header {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    font-family: 'Gotham-light';
}

header ul {
    padding: 0 30px;
    width: 100%;
}

header ul li {
    list-style-type: none;
    width: 100%;
    padding: 10px 0;
    border-bottom: 3px solid rgba(255, 255, 255, .1);
}

a {
    color: white;
    width: 100%;
}

/* MEDIA-QUERY */
@media only screen and (min-width: 500px) {
    .container {
        margin: 0 40px 0;
    }
}

@media only screen and (min-width: 700px) {
    .container {
        margin: 0 60px 0;
    }

    .load-vector {
        position: absolute;
        width: 200px;
        opacity: 0;
    }

    .wave-cover {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background: black;
        animation: goRight 2.5s forwards ease;
    }

    .scale-cont {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        animation: scaleUp .3s 1.8s forwards ease;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        margin: 0 80px 0;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        margin: 0 120px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin: 0 200px 0;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        margin: 0 300px 0;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        margin: 0 500px 0;
    }
}
